$alBlack: #222;
$black: #000;
$alWhite: #ddd;
$white: #fff;

$negative: #b71c1c;
$positive: #1B5E20;

@mixin mid-width {
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
}

@mixin abs-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
